header {
  @apply w-1/5 h-full fixed;
  @apply bg-white;
  @apply border-r border-mediumGrey border-opacity-25;

  .menu-title {
    @apply px-8 mb-2;
    @apply text-mediumGrey;
  }

  nav {
    @apply py-6;

    li {
      @apply px-8;
      @apply relative mb-2;

      a {
        @apply flex items-center rounded-md;
        @apply text-mediumGrey;
        @apply py-2;
        
        span {
          line-height: 0.9em;
        }
        
        svg {
          width: 17px;
          margin-right: 10px;
        }
        
        @media (hover: hover) {
          &:hover {
            @apply text-blue;

            svg {
              stroke: theme('colors.blue');
            }
          }
        }
      }

      &:before {
        @apply absolute left-0 top-0;
        content: '';
        width: 4px;
        height: 100%;
      }

      &.actif {
        a {
          @apply text-blue;
        }

        &:before {
          @apply bg-blue;
        }
      }

      &:last-child {
        @apply mb-0;
      }
    }
  }
}

.logo {
  @apply px-8 py-6;
  @apply flex items-center justify-start;
  height: 85px;

  h1 {
    @apply text-2xl font-sans text-darkGrey;
  }
}

.sub-header {
  @apply py-6 px-12;
  @apply flex items-center justify-between;
  @apply border-b border-mediumGrey border-opacity-25;
  height: 85px;

  .title {
    @apply flex items-center;
    @apply text-mediumGrey;

    a {
      @apply mr-3;

      &:last-of-type {
        @apply mr-0;
      }
    }

    span {
      @apply font-bold text-lg;
    }

    svg {
      @apply mr-3;
      width: 17px;
    }
  }
}