@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */
#__next {
  @apply h-screen;
  @apply flex;
}

.wrapper {
  @apply w-full;
  @apply bg-lightGrey;
}

.lang-switcher {
  @apply pt-8 px-12;
  @apply border-t border-yellow;

  .flag {
    @apply flex items-center;
    @apply pb-2;
    @apply text-mediumGrey;

    svg {
      width: 17px;
      margin-right: 10px;
    }
  }

  .buttons {
    button {
      @apply py-1 px-3 mr-2 mb-2 rounded-md;
      @apply outline-none bg-lightGrey shadow;

      span {
        @apply text-sm text-mediumGrey;
      }

      &:last-child {
        @apply mr-0;
      }

      &.actif {
        @apply bg-yellow;

        span {
          @apply text-lightGrey;
        }
      }
    }
  }
}

.logo {
  @apply bg-yellow;
  @apply px-12 py-6;

  h1 {
    @apply text-2xl font-sans text-lightGrey;
  }
}

header {
  @apply w-1/5;
  @apply bg-lighterGrey shadow;

  nav {
    @apply p-8;

    li {
      @apply mb-2;

      a {
        @apply flex items-center rounded-md;
        @apply p-4;
        @apply text-mediumGrey;
        
        span {
          line-height: 0.9em;
        }
        
        svg {
          width: 17px;
          margin-right: 10px;
        }
        
        @media (hover: hover) {
          &:hover {
            @apply text-white bg-blue shadow;

            svg {
              stroke: white;
            }
          }
        }
      }

      &:last-child {
        @apply mb-0;
      }
    }
  }
}