@tailwind base;
@tailwind components;

@import './typographies.scss';
@import './header.scss';
@import './cards.scss';
@import './lang-switcher.scss';
@import './search-bar.scss';
@import './footer.scss';
@import './toggleViews.scss';
@import './modal.scss';
@import './errors.scss';
@import './singles.scss';

@tailwind utilities;

/* Your own custom utilities */
#__next {
  @apply h-screen;
  @apply flex;
}

.wrapper {
  @apply w-4/5 h-full;
  @apply absolute right-0;
}

.sub-wrapper {
  @apply relative bg-lightGrey;
  @apply py-6 px-12;
  min-height: 100%;
}

.cta {
  @apply flex items-center outline-none;
  @apply py-2 px-6 rounded-md shadow;
  @apply text-sm text-white bg-blue outline-none;

  &.add {
    @apply px-3 bg-blue;

    span + svg {
      @apply ml-3;
    }

    svg {
      width: 20px;
    }
  }

  &.close {
    @apply px-3 bg-blue;

    span + svg {
      @apply ml-3;
    }

    svg {
      width: 20px;
    }
  }
}

.logout {
  @apply w-full absolute;
  bottom: 0;

  button {
    @apply outline-none text-white text-sm bg-blue;
    @apply px-8 py-3 w-full;
  }
}

.title {
  @apply flex items-center justify-between;

  h1 {
    line-height: 1em;
  }
}

table {
  @apply my-4 w-full shadow;

  thead {
    @apply bg-lightGrey;
    
    th {
      @apply table-row;
      @apply p-4;
    }

    td {
      @apply text-left;

      p {
        @apply text-sm uppercase;

        &:last-of-type {
          @apply p-4;
        }
      }
    }
  }

  tbody {
    td {
      @apply p-4;
    }
  }
}